@import "../../../../stylesVariables.scss";

:host {
    width: 100%;
}

.listing-table-list {
    display: inline-block;
    margin: 15px;
    padding: 20px;
    width: 200px;
    min-height: 200px;
    border: 5px solid transparent;
 
    .listing-table-initials {
        font-weight: bold;
        font-size: 60px;
        margin: 0px;
        padding: 0px 0px 85px 0px;
    }

    .listing-table-name {
        margin-bottom: 5px;
        border-bottom: 1px solid $tertiaryColor;
    }

    p {
        margin: 0px;
    }
}

.listing-table-list:nth-child(2n+0) {
    background-color: $primaryColor;
}

.listing-table-list:nth-child(2n+1) {
    background-color: $secondaryColor;
}

.listing-table-list:hover {
    border: 5px solid $tertiaryColor;
}